body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #E8F1F2;
}

main {
  position: relative;
  height: 100%;
  width: 100%;
  top: 50px;
}

header {
  z-index: 1;
  position: fixed;
  background: #13293D;
  color: white;
  height: 50px;
  width: 100%;
  left: 0;
  top: 0;
}

header span {
  padding-left: 10px;
  font-size: 35px;
  cursor: pointer;
  color: #247BA0;
  transition: 0.3s;
}

header span:hover {
  color: #E8F1F2;
  transition: 0.3s;
}

.sidenav {
  z-index: 2;
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #13293D;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
  
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #247BA0;
  display: block;
  transition: 0.3s;
}
  
.sidenav a:hover {
  color: #E8F1F2;
}
  
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

aside {
  position: fixed;
  top: 50px;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #13293D;
  width: 200px;
}

aside > ul > li {
  padding: 5px;
}

aside > ul > li > a {
  text-decoration: none;
  color: #E8F1F2;
  font-size: 17px;
}

#hzlogo {
  position: relative;
  align-self: center;
  padding-bottom: 100px;
}

#hzlogo > a > img {
  position: relative;
  width: 100px;
  border-radius: 10px;
}

#study {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 200px;
}

#study > article > section > p {
  max-width: 400px;
}

#drone {
  padding: 50px 0px 50px 0px;
}

#drone > img {
  width: 100%;
}

#profile {
  width: auto;
  display: flex;
  justify-content: space-between;
  padding:	2%;
  margin-right: 200px;
}

#profile > article {
  display: flex;
  flex-direction: column;
}

#profile > article > ul {
  align-self: flex-start;
  padding-left: 15px;
}

#pasfoto {
  border: 7px solid #247BA0;
  border-radius: 5px;
  height: 297px;
}

#hobbys {
  display: flex;
  padding: 2%;
  margin-right: 200px;
}

#hobbys > article {
  display: flex;
  flex-direction: column;
}

#hobbys > article > section {
  max-width: 400px;
}

#bottom {
  padding-bottom: 100px;
}

#hobbys > article > div > img {
  width: 80%;
}

#network > img{
  height: 600px;
  float: right;
  position: relative;
}

#table {
  display: flex;
  flex-direction: column;
}

table {
  margin: 5%;
  border-radius: 10px;
  align-self: flex-start;
}

th, td {
  padding: 4px;
}

table, tr, th, td {
  border: 3px solid black;
  position: relative;
} 

#blog-main {
  right: 200px;
}

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog > h1 {
  border: 5px solid black;
  border-radius: 25px;
  padding: 10px;
  width: 50%;
  text-align: center;
  background-color: #1B98E0;
}

.blog > h1 > a {
  display: block;
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
}

.blog-article {
  margin: 5%;
  right: 200px;
  left: 0;
}

.blog-article > div {
  max-width: 400px;
}

#faq-div {
  height: auto;
  width: auto;
  margin-left: 10px;
  margin-top: 10px;
}

.faq{
  position: relative;
  font-size: 20px;
  height: auto;
  display: flex;
  align-items: center;
}

.faq > strong {
  margin-left: 10px;
}

.faq > a {
  transform: rotate(0deg);
  font-size: 30px;
  transition: 0.3s;
}

.faq > a:hover {
  cursor: pointer;
  transform: rotate(90deg);
  transition: 0.3s;
}
